.appBar {
    background-color: #336A8C;
    width: 100%;
    /* padding: 0.2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    
}

.appBar * {
    margin: 10px, 20px, 10px, 20px;
    padding: 10px, 20px, 10px, 20px;

}

.logo {
    width: 50px;
    height: auto;
}

.pageTitle {
    color: white;
    font-size: 2rem;
}

button {
    font-size: 1rem;
}